@use "../../mixins";

.container {
  @include mixins.maxWidth();

  .title {
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 5rem;
    padding: 0 2rem;

    h1 {
      font-family: "Architects Daughter", cursive;
      font-size: 2.1rem;
      color: var(--color-btn);
      margin-bottom: 1rem;

      @media screen and (max-width: 440px) {
        font-size: max(6vw, 1.5rem);
      }
    }

    h2 {
      font-size: 2.2rem;
      color: whitesmoke;
      @media screen and (max-width: 550px) {
        font-size: max(5vw, 1.2rem);
      }
    }
  }

  .dishes {
    display: flex;
    justify-content: space-around;

    @media screen and (max-width: 640px) {
      --gap: 0.5rem;

      .col1,
      .col2 {
        display: flex;
        flex-direction: column;
        gap: var(--gap);
      }

      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: var(--gap);
    }
  }
}
