@use "../../mixins";

.dishesContainer {
  margin: 1rem;
  width: max-content;

  .dishes {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    .name {
      font-size: 1.5rem;
      color: whitesmoke;

      @media screen and (max-width: 440px) {
        font-size: 1.2rem;
      }

      @media screen and (max-width: 768px) {
        font-size: 1.2rem;
      }
    }

    .price {
      font-size: 1.5rem;
      color: var(--color-btn);

      @media screen and (max-width: 440px) {
        font-size: 1.2rem;
      }

      @media screen and (max-width: 768px) {
        font-size: 1.2rem;
      }
    }
  }

  p {
    font-size: 0.9rem;
    color: var(--color-text);
    width: max(25vw, 280px);
  }
}
